@import "tailwindcss";

body {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 840 840;
  background-image:url(/resources/puffshroom.png);
  background-color: #646464;
  font-family: Arial, Helvetica, sans-serif;
}